.main {
    display: flex;
    height: 100%;
}

.sideBar {
    width: 200px;
    padding-top: 1.25rem;
    padding: 1.25rem;
    border-width: 0 1px 0 0;
    border-color: rgb(209 213 219);
    border-style: solid;
}

.copyButton {
    width: 100%;
    margin-bottom: 20px;
}

.deleteButton {
    background-color: #f44242;
    border-color: #f51818;
    margin-left: 3px;
    padding: 0 2px 0 2px;
}

.deleteButton:active {
    background-color: #f51818;
}

.labelForm {
    display: block;
    font-weight: 700;
    margin-top: 0.5rem;
}

.inputForm {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
}

.inputColor {
    display: block;
    border-width: 1px;
    border-radius: 0.25rem;
    margin: 0 0 0.5rem 0;
    padding: 0 0.5rem 0 0.5rem;
}

.container {
    height: 100%;
    display: grid;
    flex-grow: 1;
    place-content: center;
}

.extrasTitle {
    position: relative;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.extrasButton {
    margin-left: 20px;
}

.extrasMenu {
    position: absolute;
    margin-top: 35px;
    padding: 10px;
        top: -35px;
    left: 179px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(209 213 219);
    border-radius: 0.25rem;
    background-color: #ffffff;
}

.extrasMenuButton {
    margin-right: 5px;
    padding: 0 2px 0 2px;
}
