.main-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav {
    display: flex;
    align-items: center;
    height: .75rem;
    padding: 1.5rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgb(209, 213, 219);
}

.link {
    color: black;
    text-decoration: none;
    margin-left: 30px;
}

.link:hover {
    font-weight: bold;
    color: rgb(78, 77, 77);
}

.mail-sign {
    color: black;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
}

.main {
    height: 100%;
}

.footer {
    display: flex;
    align-items: center;
    height: 0.75rem;
    padding: 2.5rem;
    border-width: 1px 0 0 0;
    border-color: rgb(209, 213, 219);
    border-style: solid;
}
